html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Header section */

.header {
    /* border: 2px solid red; */
    font-size: 24px;
    color: #F9FAF8;
    background: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 8px;
}

a, .links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
}

.links {
    display: flex;
    gap: 16px;
    padding: 16px;
}

/* Hero section */

section:nth-last-of-type(1n) {
    /* border: 1px solid red; */
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.hero-container {
    /* border: 4px solid blue; */
    display: flex;
    flex-direction: row;
}

.hero,
.hero-image {
    /* border: 2px solid red; */
    padding: 10px;
    padding-left: auto;
    padding-right: auto ;
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1;
}

.hero-secondary {
    max-width: 40%;
    margin: 5px auto;
    
}

.hero-main {
    /* border: 2px solid red; */
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 19px;
    color: #E5E7EB;
}

.button-top {
    border: none;
    background-color: #3882f6;
    color: white;
    padding: 7px 16px;
    max-width: 80px;
    border-radius: 2px;
}

